.form-text{
  width: 50%;
    
}

// .container{
//     width: 100vw;
// }

button:hover{
    
background-color: chartreuse !important;
}

.card{

margin: 50px;


  .imgCard{
    width: 50%;
object-fit: contain;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

.card-body{
width: 50%;
}
}







.cardPoster{
   
margin: 50px;
    .imgPoster{
        margin: 10px;


            width: 50%;
object-fit: contain;
// margin-top: 10px;
// margin-bottom: 10px;
// margin-left: 10px;
margin: 100px;
    }
    .card-body-poster{
        width: 50%;
        margin: 100px;
    }
}

