.form-text{
  width: 50%;
    
}

// .container{
//     width: 100vw;
// }

button:hover{
    
background-color: chartreuse !important;
}

img{
    width: 30%;
object-fit: contain;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

.card-body{
width: 70%;
}