button{
    border:3px solid;
    width: 35px;
    height: 35px;
    &:hover{
        cursor: pointer;
    }

}

.red{
    background-color: red;
}
.green{
    background-color: green;
}

.blue{
    background-color: blue;
}