img{
    height: 100px;
    object-fit: contain;
}

.card{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    img{
        width: 40%;
    }
    .card-body{
        width: 60%;
    }
}